<html>
<body style='font-size: 15'>
<span style='font-size: 36; font-weight: bold;'>$title</span>
<br>
<span style='font-size: 28'>$description</span>
<br><br>
&copy Copyright $title, Inc. 2015 - 2024
<br>
Все права защищены.
<br>

<table>
    <tr>
        <td style ="font-weight: bold;">Автор:</td>
        <td>$author</td>
    </tr>
    <tr>
        <td style ="font-weight: bold;">Email:</td>
        <td>$email</td>
    </tr>
    <tr>
        <td style ="font-weight: bold;">Версия:</td>
        <td>$version</td>
    </tr>
    <tr>
        <td style ="font-weight: bold;">Дата релиза:</td>
        <td>$lastUpdateDate</td>
    </tr>
</table>
</body>
</html>
