<html>
<body style='font-size: 15'>
<span style='font-size: 36'>$title</span>
<br>
<i><span style='font-size: 28'>$description</span></i>
<br><br>
&copy Copyright $title, Inc. 2015 - 2022
<br>
Все права защищены.
<br>

<table>
    <tr>
        <td>Автор:</td>
        <td><i>$author</i></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><i>$email</i></td>
    </tr>
    <tr>
        <td>Версия:</td>
        <td><i>$version</i></td>
    </tr>
    <tr>
        <td>Дата релиза:</td>
        <td><i>$lastUpdateDate</i></td>
    </tr>
</table>
</body>
</html>
