<html>
<head>
    <style>
       #include("styles/contingency-table.css")
    </style>
</head>
<body>

<center>
    <h2 class="title">Таблица сопряженности для атрибутов $rowAttrName и $colAttrName</h2>
</center>

<table class="contingency-table">
    <tr>
        <th rowspan="2">$rowAttrName</th>
        <th colspan="$colAttrValues.size()">$colAttrName</th>
        <th rowspan="2">Всего</th>
    </tr>
    <tr>
        #foreach($columnName in $colAttrValues)
            <th>$columnName</th>
        #end
    </tr>
    #foreach($row in $contingencyMatrix)
        <tr>
            #foreach($val in $row)
                <td>$val</td>
            #end
        </tr>
    #end
</table>

<center>
    <h2 class="title">Результаты теста &chi;&sup2;</h2>
</center>
<div class="chi-squares-result">
    $chiSquareResult
</div>
</body>
</html>