<html>
<head>
    <style>
        #include("styles/evaluation-results.css")
    </style>
</head>
<body>

<center>
    <h2 class="title">Отчет по результатам классификации</h2>
</center>
<table class="statistics-table">
    <tr>
        <th colspan="2">Основная статистика</th>
    </tr>
    #foreach($entry in $statistics.entrySet())
        <tr>
            <td>$entry.key</td>
            <td>$entry.value</td>
        </tr>
    #end
</table>

<div class="inputOptions">
    $inputOptions
</div>

<table class="classification-cost-table">
    <tr>
        <th colspan="9">Результаты классификации</th>
    </tr>
    <tr>
        <th>Класс</th>
        <th>TPR</th>
        <th>FPR</th>
        <th>TNR</th>
        <th>FNR</th>
        <th>Полнота (Recall)</th>
        <th>Точность (Precision)</th>
        <th>F - мера</th>
        <th>AUC</th>
    </tr>
    #foreach($record in $classificationCosts)
        <tr>
            <td>$record.classValue</td>
            <td>$record.tpRate</td>
            <td>$record.fpRate</td>
            <td>$record.tnRate</td>
            <td>$record.fnRate</td>
            <td>$record.recall</td>
            <td>$record.precision</td>
            <td>$record.fMeasure</td>
            <td>$record.aucValue</td>
        </tr>
    #end
</table>

<center>
    <h3 style="margin: 15px;">Матрица классификации</h3>
</center>
<table class="confusion-table">
    <tr>
        <th>Реальное</th>
        #foreach($classValue in $confusionMatrix.classValues)
            <th>$classValue (Прогнозное)</th>
        #end
    </tr>
    #foreach($record in $confusionMatrix.confusionMatrixRecords)
        <tr>
            <td>$record.classValue</td>
            #foreach($val in $record.values)
                <td>$val</td>
            #end
        </tr>
    #end
</table>

<figure class="attachment">
    <p><img src="data:image/png;base64,$rocCurveImage.base64String"></p>
    <figcaption>$rocCurveImage.title</figcaption>
</figure>
</body>
</html>