<html>
<head>
    <style>
        #include("styles/evaluation-results.css")
    </style>
</head>
<body>
#parse("evaluationResultsReport.vm")
<div class="img-scroll-pane">
    <figure class="attachment">
        <p><img src="data:image/png;base64,$networkImage.base64String"></p>
    </figure>
</div>
<div class="img-caption">Рисунок 2 $networkImage.title</div>
</body>
</html>