<html>
<head>
    <style>
        .attr {
            font-weight: bold;
            font-family: 'Arial';
            font-size: 12
        }
        .val {
            font-family: 'Arial';
            font-size: 12
        }
    </style>
</head>
<body>
<table>
    #foreach($param in $params.entrySet())
        <tr>
            <td class = "attr">$param.key</td>
            <td class="val">$param.value</td>
        </tr>
    #end
</table>
</body>
</html>