<html>
<head>
</head>
<body>
    <h3>
        Validation errors:
    </h3>
    #foreach($validationError in $validationErrors)
    <p>
        Field name: $validationError.fieldName, code: $validationError.code, message: $validationError.message
    </p>
    #end
</body>
</html>