<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="stacktrace"
                    converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter"/>
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %X{userLogin} %-5level %logger{36} - %msg%stacktrace{5,20,1024,rootFirst}%n
            </Pattern>
        </layout>
    </appender>

    <logger name="eca.client" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>