.statistics-table {
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
    background: white;
}

.classification-cost-table {
    margin: auto;
    width: 80%;
    overflow: scroll;
    margin-bottom: 30px;
    background: white;
}

.confusion-table {
    margin: auto;
    width: 90%;
    overflow: scroll;
    margin-bottom: 30px;
    background: white;
}

.logistic-coefficients-table {
    margin: auto;
    width: 90%;
    overflow: scroll;
    margin-bottom: 30px;
    background: white;
}

.attachment {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.inputOptions {
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
    background: white;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

body {
    background: #EDEEF0;
    font-family: 'Arial';
}

.attr {
    font-size: 16px !important
}

.val {
    font-size: 16px !important;
}